# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# OS
.DS-Origin
Thumbs.db

# Logs
logs/
*.log

# Build
build/
dist/

# Frontend
node_modules/

